@charset "UTF-8";
/* CSS Document */

header{
	background-color: #B3A584;
	width: 100;
	height: 40px;
	opacity: 0.7;
}

header h1 a {
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	color: #fff;
	padding: 15px;
	display: block;
	text-decoration: none;
	float: left;
	margin:auto;
}
#logo{
	height:40px;
	float:left;
}
.utility {
	float: right;
}

.utility ul {
	padding: 10px;
	margin-bottom: 10px;
}

.utility ul li {
	display: inline;
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
	color: #fff;
	padding: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}

.utility ul li a {
	color: #fff;
	text-decoration: none;
}

.utility ul li a:hover {
	color: #403325;
	text-decoration: underline;	
}

#background {
	width: 100%;
	height: 300px;
	background-image: url("../pictures/background.jpg");
	image-resollution: from-image;
	padding: 200px 0 300px 100px;
	box-sizing: border-box;
	background-size:cover;
	opacity: 1;
}
#background h1{
	font-family: 'Playfair Display SC', serif;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	opacity: 1;
	float: left;
}
#background h2{
	font-family: 'Playfair Display SC', serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	line-height: 50px;
	float: left;
}
main p{
	font-family: 'Playfair Display', serif;
	color: #000;
	font-weight: regular 400;
	font-size: 13px;
	line-height: 16px;
	margin-left: 80px;
	clear: both;
	float: left;
	margin-right: 20px;
	padding: 0 10px 0 0;
}
main p img{
	float: right;
	margin-right: 50px;
	padding: 0 20px 20px 10px;
	clear: both;
}

footer{
	width: 100%;
	height: 150px;
	background-color: #747068;
	padding: 20px 0;
}
footer p{
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	font-weight: 400;
	float: right;
	margin-right: 50px;
}
.footer-utility {
	float: left;
}

.footer-utility ul {
	padding-top: auto;	
}

.footer-utility ul li{
	display: table;
	font-family: 'Playfair Display', serif;
	text-transform: none;
	font-size: 12px;
	color: #fff;
	padding: 10px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-left: 50px;
}

.footer-utility ul li a {
	color: #fff;
	text-decoration: none;
}

.footer-utility ul li a:hover {
	color: #403325;
	text-decoration: underline;	
}
nav{
	width: 100%;
	height: 40px;
	background-color: #B3A584;
	float: right;
	opacity: 0.7;
}
nav ul {
	padding-top: auto;
	float: right;
	margin-top: 10px;
}
nav ul li {
	display: inline;
	font-family: 'Playfair Display SC', serif;
	text-transform:uppercase;
	font-size: 12px;
	color: #fff;
	padding: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: #403325;
	text-decoration: underline;	
}
h1 {
	font-family:'Playfair Display SC', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
}
.process {
	width: 100%;
	height: 1500px;
	background-color: #D6CEBD;
	z-index: 1;
	padding: 20px;
}
.process img{
	width: 32%;
	float: left;
	padding: 5px;
}
.process2 img{
	width: 32%;
	float: left;
	padding: 5px;
}
.ia {
	width: 100%;
	height: 350px;
	padding: 20px;
}
.ia img{
	width: 100%;
	float: inherit;
	text-align: center;
	margin-left: 80px;
}
.ia h2{
	font-family:'Playfair Display SC', serif;
	text-transform: uppercase;
	font-weight: 400;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.process h2{
	font-family:'Playfair Display SC', serif;
	text-transform: uppercase;
	font-weight: 400;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.rationale h2{
	font-family:'Playfair Display SC', serif;
	text-transform: uppercase;
	font-weight: 400;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.rationale p{
	font-family:'Playfair Display SC', serif;
	text-transform: none;
	font-weight: 400;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
}
