@charset "UTF-8";
/* CSS Document */

header{
	background-color: #B3A584;
	width: 100;
	height: 40px;
	opacity: 0.7;
}

header h1 a {
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	color: #fff;
	padding: 15px;
	display: block;
	text-decoration: none;
	float: left;
	margin:auto;
}
#logo{
	height:40px;
	float:left;
}
.utility {
	float: right;
}

.utility ul {
	padding: 10px;
	margin-bottom: 10px;
}

.utility ul li {
	display: inline;
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
	color: #fff;
	padding: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}

.utility ul li a {
	color: #fff;
	text-decoration: none;
}

.utility ul li a:hover {
	color: #403325;
	text-decoration: underline;	
}

#background {
	width: 100%;
	height: 559px;
	background-image: url("../pictures/background.jpg");
	padding: 200px 0 300px 100px;
	image-resolution: from-image;
	box-sizing: border-box;
	background-size: cover;
	opacity: 1;
}
#background h1{
	font-family: 'Playfair Display SC', serif;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	opacity: 1;
	float: left;
}
#background h2{
	font-family: 'Playfair Display SC', serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	line-height: 50px;
	float: left;
}
main p{
	font-family: 'Playfair Display', serif;
	color: #000;
	font-weight: regular 400;
	font-size: 13px;
	line-height: 16px;
	margin-left: 80px;
	clear: both;
	float: left;
	margin-right: 20px;
	padding: 0 10px 0 0;
}
main p img{
	float: right;
	margin-right: 50px;
	padding: 0 20px 20px 10px;
	clear: both;
}
.biography h2{
	font-family:'Playfair Display', serif;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
.site-highlight{
	width: 100%;
	height: 380px;
	background-color: #D6CEBD;
	z-index: 1;
	padding: 20px;
}
.highlights{
	width: 32%;
	float: left;
	padding: 5px;
	align-content: center;
}
.site-highlight .highlights img{
	width: 100%;
}
.site-highlight h1{
	font-family:'Playfair Display', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.site-highlight h2{
	font-family:'Playfair Display', serif;
	font-weight: 400;
	text-transform: none;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
	text-align: center;
	width:100%;
}
.site-highlight2{
	width: 100%;
	height: 500px;
}
.highlights2{
	width: 32%;
	float: left;
	padding: 5px;
}
.site-highlight2 .highlights2 img{
	width: 100%;
}
.site-yearbook{
	width: 100%;
	height: 380px;
}
.yearbook{
	width: 32%;
	float: left;
	padding: 5px;
	align-content: center;
}
.site-yearbook .yearbook img{
	width: 100%;
	align-content: center;
}
.site-yearbook h1{
	font-family:'Playfair Display', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	line-height: 40px;
}
.site-yearbook h2{
	font-family:'Playfair Display', serif;
	font-weight: 400;
	text-transform: none;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
	text-align: center;
	width:100%;
}
.site-yearbook, .site-highlight, .course-project h4{
	font-family:'Playfair Display', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}
.site-yearbook2{
	width: 100%;
	height: 300px;
}
.yearbook2{
	width: 32%;
	float: left;
	padding: 5px;
}
.site-yearbook2 .yearbook2 img{
	width: 100%;
}
.course-project{
	width: 100%;
	height: 450px;
	padding: 20px;
	background-color: #D6CEBD;
	z-index: 1;
}
.cct{
	width: 48%;
	float: left;
	margin-right: 3px;
	padding: 5px;
}
.course-project .cct img{
	width: 100%;
}
.course-project .cct iframe{
	width: 100%;
}
.course-project h1{
	font-family:'Playfair Display', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
footer{
	width: 100%;
	height: 150px;
	background-color: #747068;
	padding: 20px 0;
}
footer p{
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	font-weight: 400;
	float: right;
	margin-right: 50px;
}
.footer-utility {
	float: left;
}

.footer-utility ul {
	padding-top: auto;	
}

.footer-utility ul li{
	display: table;
	font-family: 'Playfair Display', serif;
	text-transform: none;
	font-size: 12px;
	color: #fff;
	padding: 10px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-left: 50px;
}

.footer-utility ul li a {
	color: #fff;
	text-decoration: none;
}

.footer-utility ul li a:hover {
	color: #403325;
	text-decoration: underline;	
}
nav{
	width: 100%;
	height: 40px;
	background-color: #B3A584;
	float: right;
	opacity: 0.7;
}
nav ul {
	padding-top: auto;
	float: right;
	margin-top: 10px;
}

nav ul li {
	display: inline;
	font-family: 'Playfair Display SC', serif;
	text-transform:uppercase;
	font-size: 12px;
	color: #fff;
	padding: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: #403325;
	text-decoration: underline;	
}
h1 {
	font-family:'Playfair Display SC', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: bold;
	font-size: 45px;
	text-align: center;
}
table{
	width: 95%;
	margin-left: 30px;
}
textarea{
	width: 200%;
	margin-left: 10px;
}
table tbody tr td,
table thead tr th{
	padding: 20px;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	border: 1px solid #000;
	width: 25%;
}

table thead tr th {
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 4px #000;
}

table caption {
	caption-side: top;
	text-align: left;
}
main h2{
	font-family:'Playfair Display SC', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: bold;
	font-size: 25px;
	text-align: left;
	margin-left: 15px;
}
main h3{
	font-family: 'Playfair Display', serif;
	text-transform: none;
	font-weight: 700;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
	text-align: center;
}
form caption{
	caption-side: top;
	text-align: left;
	margin-top: 20px;
}
form input {
	margin: 10px;
}
form label {
	font-family:'Playfair Display', serif;
	font-size: 12px;
	font-weight: normal 400;
	display: inline-block;
	padding: 10px;
}
form textarea {
	font-family:'Playfair Display', serif;
	font-size: 0.75em;
	font-weight: normal;
	display: inline-block;
	padding: 10px;
	width: auto;
	margin-left: 40px;
}

form fieldset {
	padding: 20px;
	margin: 20px 0;
	margin-left: 160px;
	margin-top: 60px;
}
form legend {
	padding: 0 20px;
	font-family:'Playfair Display SC', serif;
	font-size: 25px;
	font-weight: 400;
	font-weight: bold;
	text-transform: uppercase;
}
.google iframe {
	float: right;
	postion: relative;
	top: 90px;
	right: 150px;
	margin-right: 120px;
}
.project-description h1{
	font-family:'Playfair Display', serif;
	text-transform: none;
	font-weight: 700;
	font-weight: normal;
	font-size: 25px;
	text-align: center;

}
.project-description p{
	font-family: 'Playfair Display', serif;
	color: #000;
	font-weight: regular 400;
	font-size: 17px;
	line-height: 16px;
	margin-left: 300px;
	margin-right: 20px;
}
.project-description p img{
	float:right;
	margin-right: 150px;
}
cite {
	font-style: italic;
	color: #000;
	float: right;
	display: block;
	font-size: 12px;
}